.current_index .main > div {
    left: 200vw;
}

.current_steepshot .main > div {
    left: 100vw;
}

.current_vim .main > div {
    left: 0;
}

.current_ditch .main > div {
    left: -100vw;
}

.current_contact .main> div {
    left: -200vw;
}

.current_index .index,
.current_steepshot .steepshot,
.current_vim .vim,
.current_ditch .ditch,
.current_contact .contact {
    opacity: 1;
}
