.main.current_index > div {
    left: 200vw;
}

.main.current_steepshot > div {
    left: 100vw;
}

.main.current_vim > div {
    left: 0;
}

.main.current_ditch > div {
    left: -100vw;
}

.main.current_contact > div {
    left: -200vw;
}

.main.current_index .index,
.main.current_steepshot .steepshot,
.main.current_vim .vim,
.main.current_ditch .ditch,
.main.current_contact .contact {
    opacity: 1;
}
