.main.current_index > div {
    left: 50vw;
}

.main.current_steepshot > div {
    left: -50vw;
}

.main.current_index .index {
    opacity: 1;
}

.main.current_steepshot .steepshot {
    opacity: 1;
}