.contact {
    --container-height: 567px;
}

.contact label {
    display: flex;
    height: 60px;
    justify-content: flex-start;
    align-items: center;
    font: 18px OpenSans-Regular;
    line-height: 3.33;
    color: #302f39;
}

.contact input, .contact textarea {
    width: 100%;
    height: 50px;
    border-radius: 10px;
    background-color: #fafafa;
    border: solid 1px #f5f5f5;
    padding: 0 20px;
    font: 16px OpenSans-Regular;
    color: rgba(48, 47, 57, 0.3);
    line-height: 3.75;
}

.contact input::placeholder, .contact textarea::placeholder {
    opacity: 0.3 ;
}

.contact textarea {
    height: 100px;
    overflow: hidden;
    resize: none;
    padding-top: 10px;
}

.name {
    padding-right: 20px;
}

.email {
    padding-left: 20px;
}

.duration {
    padding-right: 20px;
}

.start {
    padding-left: 20px;
}

.message {
    font: 54px OpenSans-Light;
    line-height: 1.3;
    color: #302f39;
    display: none;
}

.message .title {
    margin-top: 109px;
    color: #f0122b;
}

.message .message-for {
    margin-top: 105px;
}

.show_message .form {
    display: none;
}

.show_message .message {
    display: block;
}

.back-to-top {
    display: none;
    width: 100%;
    height: 218px;
    justify-content: center;
    align-items: center;
    font: 18px OpenSans-Regular;
    line-height: 3.33;
    color: #302f39;
    opacity: 0.4;
}

.back-to-top span {
    cursor: pointer;
}

@media (max-width: 1199px) {
    .contact .col-3 {
        width: 50%;
    }

    .action_block .btn.btn-red {
        margin: 25px 0 0;
    }

    .back-to-top {
        display: flex;
    }
}


@media (max-width: 767px) {
    .contact .col-3 {
        width: 100%;
        padding: 0;
    }

    .contact label span {
        display: none;
    }

    .back-to-top {
        height: 118px;
    }
}