.description {
    --container-height: 355px;
}

.description .container {
    height: var(--container-height);
}

.description_description {
    margin-top: 17px;
    padding-bottom: 30px;
    font: 18px OpenSans-Regular;
    line-height: 1.67;
    color: black;
}

.action_description {
    margin-top: 22px;
}

.social-network {
    height: 57px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    font: 22px Didot-Bold;
    line-height: 0.91;
    color: #2f2d38;
    padding-right: 20px;
}