.ditch {
    --container-height: 640px;
}

.ditch .title_block {
    margin-top: 155px;
}

@media (max-width: 1199px) {
    .ditch {
        padding-bottom: 77px;
    }

    .ditch .title_block {
        margin-top: 505px;
    }
}

@media (max-width: 767px) {
    .ditch {
        padding-bottom: 50px;
    }

    .ditch .title_block {
        margin-top: 422px;
    }
}