header.container {
    height: var(--header-height);
}

header.container > .row {
    height: 100%;
}

.logo {
    position: absolute;
    width: 72px;
    height: 40px;
    bottom: 4px;
    z-index: 100;
    cursor: pointer;
}

.contact-link, .our-project-link  {
    position: absolute;
    bottom: 0;
    z-index: 100;
}

.current_steepshot .our-project-link {
    color: #f0122b;

}

.current_contact .contact-link {
    color: #f0122b;
}

@media (max-width: 1199px) {
    header .our-project-link {
        display: none;
    }
    header .contact-link {
        right: 0;
    }
}