.index {
    --container-height: 575px;
}

.point {
    height: 20px;
    background: url("../assets/images/index/place.svg") no-repeat center;
    background-position-x: calc(100% - 10px);
}

.location {
    font: 18px OpenSans-SemiBold;
    line-height: 1.11;
    color: #2f2d38;
}

.title_index {
    margin-top: 156px;
    font: 28px OpenSans-Regular;
    line-height: 1.43;
    color: #302f39;
}

.title_index span {
    font-weight: bold;
    color: #f0122b;
    text-transform: uppercase;
}

.info_index {
    margin-top: 29px;
    font: 18px OpenSans-Light;
    line-height: 1.67;
    color: #302f39;
}

.info_index .btn {
    margin-top: 22px;
}

@media (max-width: 1199px) {

    .main .index {
        height: calc(1024px - var(--header-height));
    }

    .point {
        display: none;
    }

    .location {
        margin-top: 63px;
        padding-left: 357px;
    }

    .title_index {
        margin: 232px auto 0;
        width: 680px;
        line-height: 40px;
        text-align: center;
    }

    .info_index {
        width: 680px;
        margin: 49px auto 0;
    }

    .info_index .col-4 {
        width: 100%;
        text-align: center ;
    }

    .index .btn {
        margin: 52px auto 0;
    }
}

@media (max-width: 767px) {
    .location {
        display: none;
    }

    .title_index {
        margin-top: 152px;
        width: 100%;
        font-size: 18px;
        line-height: 1.67;
    }

    .info_index {
        width: 100%;
        margin: 39px auto 0;
        font-size: 14px;
        line-height: 1.43;
    }

    .index .btn {
        margin: 39px auto 0;
    }

}