@import './fonts.css';
@import './grid.css';
@import './block-position.css';
@import './decoration/decoration.css';
@import './decoration/index.css';
@import './decoration/description.css';
@import './header.css';
@import './footer.css';
@import './index.css';
@import './description.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --swap-time: 450ms;
    --container-width: 1200px;
    --header-height: 85px;
    --footer-height: 88px;
    --main-height: calc(100vh - var(--footer-height) - var(--header-height));
    --main-min-height: 625px;
}

body {
    position: relative;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    overflow-x: hidden;
}

.main {
    width: 100vw;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--main-height);
    min-height: var(--main-min-height);
}

.main > div {
    position: relative;
    width: 100vw;
    min-width: 100vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity var(--swap-time) linear;
    opacity: 0;
}

.main > div .container {
    height: var(--container-height);
}

.title_block {
    font: 42px OpenSans-Extrabold;
    color: #323145;
    text-transform: uppercase;
    line-height: 57px;
}

.link {
    cursor: pointer;
    font: 14px OpenSans-Bold;
}

.btn {
    width: 200px;
    height: 50px;
    border-radius: 500px;
    background-color: #0024ff;
    box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    font: 14px OpenSans-Extrabold;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
}

.btn-red.btn {
    background-color: red;
}