.vim {
    --container-height: 640px;
}

.vim .marketplace {
    margin-top: 122px;
    font: 20px Didot;
    line-height: 0.91;
    color: #2f2d38;
}

.vim .title_block {
    margin-top: 43px;
}

@media (max-width: 1199px) {
    div.main .vim {
        height: 1024px;
    }

    .marketplace {
        display: none;
    }

    .vim .title_block {
        margin-top: 812px;
    }
}