.decoration {
    position: absolute;
    width: 100%;
    height: calc(100% + var(--header-height) + var(--footer-height));
    top: calc(var(--header-height) * -1);
    left: 0;
    overflow: hidden;
}

.decoration > div {
    position: absolute;
}

.circle {
    --default-cercle-size: 640px;
    --circle-size: var(--default-cercle-size);
    width: var(--circle-size);
    height: var(--circle-size);
    background-color: #f5f5f5;
    border-radius: 50%;
    top: calc(50% - var(--circle-size) / 2);
    left: calc(50% - var(--circle-size) / 2);
}

.right-circle {
    top: calc(50% - var(--circle-size) / 2);
    left: calc(100% - var(--circle-size) / 2)
}

.extra-small-circle.circle {
    --circle-size: 100px;
}

.small-circle.circle {
    --circle-size: 200px;
}

.middle-circle.circle {
    --circle-size: 320px;
}


.fraction {
    width: 157px;
    height: 67px;
    left: calc((100% - var(--container-width)) / 2);
    top: calc(50% + 320px);
}

.two {
    float: left;
    width: 61px;
    height: 34px;
    font: 28px Didot;
    display: flex;
    justify-content: space-between;
}

.slash {
    color: #a0a0a0;
}

.three {
    float: right;
    color: #a0a0a0;
    font: 54px Didot;
}

.gray-dots {
    --gray-dots-height: 260px;
    width: 50%;
    height: var(--gray-dots-height);
    background: url('../../assets/images/gray-dots.svg') repeat-x center;;
}

.gray_background {
    width: 50%;
    height: 100%;
    background-color: #f5f5f5;
}

@media (max-width: 1199px) {
    .circle {
        width: 600px;
        height: 600px;
    }

    .lines {
        display: none;
    }

    .decoration {
        top: 0;
    }

    .fraction {
        display: none;
    }
}