.ditch .gray-dots {
    top: calc(50% - var(--gray-dots-height) / 2);
    left: 50%;
}

.background-ditch {
    width: 700px;
    height: 438px;
    object-fit: contain;
    background: url('../../assets/images/ditch/background.png') no-repeat center;
    background-size: contain;
    left: calc(50% - 200px);
    top: calc(50% - 260px);
}

.ditch .top-circle {
    left: calc(50% - 500px);
    top: calc(50% - 280px);
}

.ditch .bottom-circle {
    top: calc(50% + 100px);
    left: calc(50% + 400px);
}

.ditch .left-circle {
    top: calc(50% - var(--circle-size) / 2);
    left: calc(var(--circle-size) / 2 * -1)
}

.ditch .last-circle {
    top: calc(50% + 180px);
    left: calc(50% - 400px);
}

@media (max-width: 1199px) {

    div.ditch .gray-dots,
    div.ditch .right-circle,
    div.ditch .bottom-circle,
    div.ditch .last-circle {
        display: none;
    }


    div.ditch .top-circle {
        width: 200px;
        height: 200px;
        top: -90px;
        left: calc(50% + 50px);
        z-index: -1;
    }

    div.ditch .left-circle {
        width: 100px;
        height: 100px;
        top: -23px;
        left: calc(50% - 220px);
    }

    .ditch .circle {
        top: -42px;
        left: calc(50% - 684px);
    }

    div.ditch .background-ditch {
        width: 600px;
        height: 375px;
        top: 70px;
        left: calc(50% - 300px);
    }
}

@media (max-width: 767px) {
    div.ditch .background-ditch {
        width: 320px;
        height: 250px;
        top: 100px;
        left: calc(50% - 160px);
    }
}
