.lines {
    --lines-size: 1276px;
    width: var(--lines-size);
    height: var(--lines-size);
    background: url('../../assets/images/lines.svg') no-repeat center;
    top: calc(50% - var(--lines-size) / 2);
    left: calc(50% - var(--lines-size) / 2);
}

.phones {
    --phones-width: 600px;
    --phones-height: 820px;
    width: var(--phones-width);
    height: var(--phones-height);
    background: url('../../assets/images/steepshot/phones.png') no-repeat center;
    top: calc(50% - var(--phones-height) / 2 + var(--header-height) / 2);
    left: calc(50% - var(--phones-width) / 2);
}

.steepshot .left-circle {
    top: calc(50% - var(--circle-size) / 2 + 26px);
    left: calc((100% - var(--container-width)) / 2 - var(--circle-size));
}

.steepshot .top-circle {
    top: calc(50% - var(--default-cercle-size) / 2);
    left: calc(100% / 2 + var(--container-width) / 2 - var(--circle-size))
}

.steepshot .bottom-circle {
    left: calc(100% / 2 + var(--container-width) / 2 - var(--circle-size));
    top: calc(50% + 130px);
}

.steepshot .gray-dots {
    --dots-height: 260px;
    width: 50%;
    height: var(--dots-height);
    top: calc(50% - var(--dots-height) / 2);
    background: url('../../assets/images/gray-dots.svg') repeat-x center;
}


@media (max-width: 1199px) {
    .phones {
        top: -54px;
    }

    .steepshot .circle {
        top: 54px;
    }

    .steepshot .decoration {
        height: 100%;
        top: 0;
    }

    div.steepshot .top-circle {
        width: 200px;
        height: 200px;
        top: -100px;
        left: calc(50% - 320px);
    }

    div.steepshot .right-circle {
        width: 100px;
        height: 100px;
        top: 83px;
        left: calc(50% + 260px);
    }

    div.steepshot .bottom-circle {
        width: 100px;
        height: 100px;
        top: calc(50% + 130px);
        left: calc(50% - 360px);
    }

    div.steepshot .left-circle {
        display: none;
    }

    .steepshot .gray-dots {
        display: none;
    }
}

@media (max-width: 767px) {
    .phones {
        width: 320px;
        height: 540px;
        background-size: 320px 540px;
        top: -270px;
        left: calc(50% - 160px);
    }

    div.steepshot .right-circle {
        display: none;
    }

    div.steepshot .top-circle {
        width: 100px;
        height: 100px;
        top: 10px;
        left: calc(50% - 80px);
    }

    .steepshot .circle {
        top: 50px;
        left: calc(50% - 80px);
    }

    div.steepshot .bottom-circle {
        width: 140px;
        height: 140px;
        top: calc(50% + 100px);
        left: calc(50% - 100px);

    }
}