.lines {
    --lines-size: 1276px;
    width: var(--lines-size);
    height: var(--lines-size);
    background: url('../../assets/images/lines.svg') no-repeat center;
    top: calc(50% - var(--lines-size) / 2);
    left: calc(50% - var(--lines-size) / 2);
}

.phones {
    --phones-width: 600px;
    --phones-height: 820px;
    width: var(--phones-width);
    height: var(--phones-height);
    background: url('../../assets/images/steepshot/phones.png') no-repeat center;
    top: calc(50% - var(--phones-height) / 2 + var(--header-height) / 2);
    left: calc(50% - var(--phones-width) / 2);
}

.steepshot .left-circle {
    top: calc(50% - var(--circle-size) / 2 + 26px);
    left: calc((100% - var(--container-width)) / 2 - var(--circle-size));
}

.steepshot .top-circle {
    top: calc(50% - var(--default-cercle-size) / 2);
    left: calc(100% / 2 + var(--container-width) / 2 - var(--circle-size))
}

.steepshot .bottom-circle {
    left: calc(100% / 2 + var(--container-width) / 2 - var(--circle-size));
    top: calc(50% + 130px);
}

.gray-dots_steepshot {
    --many-dots-height: 260px;
    width: 50%;
    height: var(--many-dots-height);
    top: calc(50% - var(--many-dots-height) / 2);
    background: url('../../assets/images/gray-dots.svg') repeat-x center;
}