.vim .gray-dots {
    top: calc(50% - var(--gray-dots-height) / 2);
    left: 50%;
}

.vim .top-circle {
    top: calc(50% - 238px);
    left: calc(50% - 500px);
}

.vim .bottom-circle {
    top: calc(50% + 200px);
    left: calc(50% - 600px);
}

.vim .left-circle {
    top: calc(50% - var(--circle-size) / 2);
    left: calc(var(--circle-size) / 2 * -1)
}

.background-bottom, .background-top {
    width: 600px;
    height: 375px;
}

.background-bottom {
    background: url('../../assets/images/vim/background-bottom.png') no-repeat;
    background-size: 600px 375px;
    bottom: calc(50% - 80px);
    left: 50%;
}

.background-top {
    background: url('../../assets/images/vim/background-top.png') no-repeat;
    background-size: 600px 375px;
    bottom: calc(50% - 265px);
    left: calc(50% - 220px);
}

@media (max-width: 1199px) {
    .vim .gray-dots {
        display: none;
    }

    .vim .right-circle {
        display: none;
    }

    .vim .left-circle {
        display: none;
    }

    div.vim .circle {
        width: 608px;
        height: 608px;
        left: 50%;
        top: calc(50% - 390px);
    }

    div.vim .top-circle {
        width: 200px;
        height: 200px;
        top: -60px;
        left: calc(50% + 200px);

    }

    div.vim .bottom-circle {
        width: 140px;
        height: 140px;
        top: calc(50% + 220px);
        left: calc(50% - 340px);
    }

    .background-bottom {
        top: 100px;
        left: calc(50% - 150px);
        background-size: 500px 312px;
    }

    .background-top {
        top: 400px;
        left: calc(50% - 354px);
        background-size: 500px 312px;
    }
}